@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeue/BebasNeueBold.eot") format("eot"), url("../fonts/BebasNeue/BebasNeueBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeue/BebasNeueRegular.eot") format("eot"), url("../fonts/BebasNeue/BebasNeueRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/gilroy/Gilroy-Regular.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Medium.woff") format("woff"), url("../fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/gilroy/Gilroy-Light.woff") format("woff"), url("../fonts/gilroy/Gilroy-Light.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 0.5208333333vw;
  min-height: 100vh;
}
@media screen and (max-width: 1440px) {
  html {
    font-size: 0.6944444444vw;
  }
}
@media screen and (max-width: 1280px) {
  html {
    font-size: 0.78125vw;
  }
}
@media screen and (max-width: 999px) {
  html {
    font-size: 1.001001001vw;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 2vw;
  }
}
@media screen and (max-width: 375px) {
  html {
    font-size: 2.6666666667vw;
  }
}

body {
  min-width: 320px;
  font-weight: 400;
  background-color: #f3f7f9;
  min-height: 100vh;
  font-family: "Bebas Neue", sans-serif, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 143.8rem;
  width: 100%;
  padding: 0 1.4rem;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title,
h2 {
  font-weight: 700;
  font-size: 4.5rem;
  color: #222;
  position: relative;
}
@media screen and (max-width: 500px) {
  .title,
  h2 {
    font-size: 4rem;
  }
}

.title::after {
  position: absolute;
  content: "";
  width: 68px;
  height: 18px;
  bottom: -20px;
  left: -6px;
  background: url("../../images/catalog/rect.svg") no-repeat;
}

.header {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 0.8rem 0 2.7rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  z-index: 50;
}
@media screen and (max-width: 999px) {
  .header {
    padding-bottom: 1rem;
  }
}
.header::before {
  pointer-events: none;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  max-width: 177rem;
  width: 100%;
  clip-path: polygon(0% 0%, 92% 0.2%, 100% 100%, 0% 100%);
  background-color: rgba(15, 20, 28, 0.5);
  backdrop-filter: blur(4px);
  z-index: 0;
}
@media screen and (max-width: 1440px) {
  .header::before {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
.header__container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__top {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 2.8rem;
  position: relative;
}
@media screen and (max-width: 999px) {
  .header__top {
    margin-bottom: 0;
  }
}
.header__top::before {
  pointer-events: none;
  position: absolute;
  content: "";
  top: -12px;
  bottom: 0;
  right: -8rem;
  display: block;
  max-width: 700px;
  width: 100%;
  height: 44px;
  clip-path: polygon(0 0, 94% 0, 100% 100%, 6% 100%);
  background-color: rgba(248, 67, 56, 0.76);
  z-index: 0;
}
@media screen and (max-width: 1600px) {
  .header__top::before {
    height: 40px;
  }
}
@media screen and (max-width: 1440px) {
  .header__top::before {
    top: -8px;
    height: 40px;
  }
}
@media screen and (max-width: 999px) {
  .header__top::before {
    height: 38px;
    max-width: 150px;
    right: -40px;
    clip-path: polygon(0 0, 94% 0, 100% 100%, 18% 100%);
    height: 30px;
  }
}
.header__top::after {
  pointer-events: none;
  position: absolute;
  content: "";
  top: -1rem;
  bottom: 0;
  right: -420px;
  display: block;
  max-width: 700px;
  width: 100%;
  height: 75px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 12% 100%);
  background-color: rgba(255, 185, 0, 0.66);
  z-index: 5;
}
@media screen and (max-width: 999px) {
  .header__top::after {
    max-width: 100px;
    right: -30px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%);
    height: 45px;
  }
}
@media screen and (max-width: 999px) {
  .header__logo {
    margin: 0 auto;
  }
}
@media screen and (max-width: 500px) {
  .header__logo {
    max-width: 15.2rem;
    width: 100%;
    height: 4.1rem;
    align-self: center;
  }
}
.header__logo-link {
  display: inline-flex;
  width: 100%;
  height: 100%;
}
.header__logo .logo__img {
  display: block;
  width: 15.2rem !important;
  height: 4.1rem !important;
  object-fit: cover;
}
.header__sosial {
  margin-left: auto;
  margin-right: 11.2rem;
}
@media screen and (max-width: 999px) {
  .header__sosial {
    display: none;
  }
}
.header__contacts {
  text-align: right;
  position: relative;
  z-index: 10;
}
.header__donw {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 999px) {
  .header__donw {
    display: none;
  }
}

.social__list {
  display: flex;
  column-gap: 1.8rem;
  align-items: center;
  position: relative;
}
.social__link {
  transition: all 0.3s linear;
}
.social__link:hover svg path {
  fill-opacity: 1;
  transition: all 0.3s linear;
}
.social__list_burger {
  column-gap: 2.2rem;
}

.contacts__number-link {
  display: inline-flex;
  align-items: center;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}
@media screen and (max-width: 999px) {
  .contacts__number-link span {
    display: none;
  }
}
.contacts__number-link svg {
  margin-right: 1rem;
}
@media screen and (max-width: 999px) {
  .contacts__number-link svg {
    margin-right: 7rem;
  }
}
.contacts__callback-link {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: #f6f6f6;
}
@media screen and (max-width: 999px) {
  .contacts__callback-link {
    display: none;
  }
}
.contacts__number-link_burger {
  color: #fff;
}
.contacts__number-link_burger .burger {
  display: inline-flex;
}
.contacts__number-link_burger .burger-img {
  margin-right: 1rem;
}
.contacts__callback-link_burger {
  color: #ef9325;
  max-width: 23rem;
  padding-left: 10rem;
  display: inline-flex;
}

.navigation {
  width: 100%;
}
.navigation__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation__link {
  font-weight: 500;
  font-size: 1.8rem;
  color: #fff;
  font-family: "Gilroy", sans-serif;
  transition: all 0.3s linear;
}
.navigation__link:hover {
  transition: all 0.3s linear;
  color: #ffb033;
}
.navigation__list_burger {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
  align-items: flex-start;
}

.burger-menu {
  display: flex;
  position: fixed;
  min-height: 100vh;
  flex-direction: column;
  padding: 3.3rem 3.6rem;
  backdrop-filter: blur(4px);
  background: rgba(15, 20, 28, 0.95);
  width: 100%;
  left: -100%;
  transition: all 0.3s linear;
  z-index: 100;
}
.burger-menu__open {
  transition: all 0.3s linear;
  left: 0;
}
.burger-menu__btn-open {
  display: none;
  padding: 0 0.4rem;
  align-self: center;
}
@media screen and (max-width: 999px) {
  .burger-menu__btn-open {
    display: inline-flex;
  }
}
.burger-menu__btn-close {
  position: absolute;
  top: 1.7rem;
  right: 2.2rem;
}
.burger-menu__nav {
  width: 100%;
  margin-bottom: 6.2rem;
}
.burger-menu__navigation {
  width: 100%;
}
.burger-menu__contacts {
  width: 100%;
}
.burger-menu__sosial {
  margin-bottom: 2.5rem;
}

.hero-slider {
  position: relative;
  width: 100%;
  margin-top: -13rem;
  position: relative;
  margin-bottom: 7.7rem;
}
@media screen and (max-width: 500px) {
  .hero-slider {
    margin-bottom: 3.4rem;
  }
}
.hero-slider__container {
  position: relative;
  margin-bottom: 7rem;
  max-width: 66rem;
  width: 100%;
  text-align: left;
  min-height: 100%;
}
.hero-slider__title {
  font-weight: 700;
  font-size: 7rem;
  line-height: 0.75;
  color: #fff;
  margin-bottom: 1rem;
  text-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.9);
}
@media screen and (max-width: 500px) {
  .hero-slider__title {
    font-size: 4rem;
    line-height: 1;
  }
}
.hero-slider__title b {
  font-size: 8rem;
  color: #ffb033;
}
@media screen and (max-width: 500px) {
  .hero-slider__title b {
    font-size: 4rem;
    line-height: 1;
  }
}
.hero-slider__desc {
  width: 100%;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.22222;
  color: #fff;
  text-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.9);
  margin-bottom: 3rem;
}
@media screen and (max-width: 500px) {
  .hero-slider__desc {
    font-size: 14px;
    line-height: 1.14286;
    text-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.9);
  }
}

.hero__pagination-box {
  position: relative;
  z-index: 200;
  max-width: 1560px;
  padding-right: 10px;
  padding-left: 10px;
  height: 25px;
  margin: 0 auto;
  top: -70px;
  right: 0;
  z-index: 5;
}
@media screen and (max-width: 767px) {
  .hero__pagination-box {
    top: -25px;
  }
}
@media screen and (max-width: 500px) {
  .hero__pagination-box {
    top: -45px;
    max-width: 348px;
    margin-right: 0;
    height: 21px;
  }
}
.hero__pagination-box .swiper-pagination-horizontal {
  width: 370px;
  left: auto;
  right: 0;
}
@media screen and (max-width: 500px) {
  .hero__pagination-box .swiper-pagination-horizontal {
    width: 290px;
    right: auto;
  }
}
.hero__pagination-box .hero__swiper-pagination {
  width: 370px;
  height: var(--swiper-pagination-progressbar-size, 4px);
  right: 44px;
  top: 9px;
  border-radius: 10px;
  background: rgba(229, 238, 245, 0.5);
}
@media screen and (max-width: 500px) {
  .hero__pagination-box .hero__swiper-pagination {
    width: 290px;
  }
}
.hero__pagination-box .hero__swiper-pagination .swiper-pagination-progressbar-fill {
  border-radius: 10px;
  background: #df2c46;
}
.hero__pagination-box .hero__swiper-pagination::after {
  position: absolute;
  content: "06";
  color: #df2c46;
  font-family: "Gilroy", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  top: -10px;
  right: -33px;
}
.hero__pagination-box .hero__swiper-pagination::before {
  position: absolute;
  content: "01";
  color: #df2c46;
  font-family: "Gilroy", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  top: -10px;
  left: -33px;
}

.swiper-slide {
  position: relative;
  display: flex;
  align-items: flex-end;
  background: linear-gradient(180deg, #0f141c 0%, rgba(0, 0, 0, 0) 100%);
}
.swiper-slide::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 4.5rem;
  padding: 0 5.5rem 0 3.3rem;
  line-height: 4.5rem;
  font-weight: 400;
  font-size: 1.6rem;
  color: #fff;
  font-family: "Gilroy", sans-serif;
  border-radius: 2.8rem;
  background: linear-gradient(180deg, #e31e24 0%, #7d1114 100%);
  transition: all 0.3s linear;
}
@media screen and (max-width: 500px) {
  .btn {
    font-weight: 500;
    font-size: 1.4rem;
    height: 3.5rem;
    line-height: 3.5rem;
    padding: 0 5.2rem 0 2.4rem;
  }
}
.btn::after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
  background: url(../../images/hero/arr_right.svg) no-repeat center;
  width: 1.8rem;
  height: 1.8rem;
  pointer-events: none;
}
.btn:hover {
  background: linear-gradient(180deg, #e31e24 100%, #7d1114 0%);
  color: #efb635;
  transition: all 0.3s linear;
}

.catalog {
  width: 100%;
  margin-bottom: 14.1rem;
}
@media screen and (max-width: 500px) {
  .catalog {
    margin-bottom: 8rem;
  }
}
.catalog__container {
  display: flex;
  flex-direction: column;
}
.catalog__title {
  position: relative;
  margin-bottom: 0;
  line-height: 0.8;
}
@media screen and (max-width: 500px) {
  .catalog__title {
    margin-bottom: 5rem;
  }
}
.catalog__btn {
  margin-left: auto;
  margin-bottom: 3.6rem;
  text-align: right;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: #596775;
  background: rgba(89, 103, 117, 0.2);
  border-radius: 1.8rem;
  padding: 0.3rem 3.7rem 0 3.3rem;
  transition: all 0.3s linear;
}
.catalog__btn:hover {
  color: #ffffff;
}
@media screen and (max-width: 500px) {
  .catalog__btn {
    order: 3;
    margin-left: 0;
    justify-content: center;
  }
}
.catalog__btn::after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  transform: translateY(-50%);
  right: 1.5rem;
  background: url(../../images/catalog/arr_right_grey.svg) no-repeat center/cover;
  max-width: 1rem;
  min-height: 0.8rem;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 500px) {
  .catalog__btn::after {
    right: auto;
    left: 65%;
  }
}
.catalog__btn:hover {
  background: rgba(89, 103, 117, 0.3);
  transition: all 0.3s linear;
}
.catalog .catalog-cart {
  width: 100%;
}
@media screen and (max-width: 500px) {
  .catalog .catalog-cart {
    margin-bottom: 1.5rem;
  }
}
.catalog .catalog-cart__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 14.6rem);
  gap: 2rem 2.7rem;
}
@media screen and (max-width: 1280px) {
  .catalog .catalog-cart__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 14.6rem);
  }
}
@media screen and (max-width: 500px) {
  .catalog .catalog-cart__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 10.5rem);
    gap: 0.9rem 1rem;
  }
}
.catalog .catalog-cart__item {
  display: flex;
  padding: 0 0 1.3rem 2rem;
  border-radius: 20px;
  position: relative;
  border: 1px solid rgb(255, 255, 255);
  transition: all 0.3s linear;
}
@media screen and (max-width: 500px) {
  .catalog .catalog-cart__item {
    padding: 0 0 0.9rem 0.9rem;
  }
}
.catalog .catalog-cart__item:hover {
  transition: all 0.3s linear;
}
.catalog .catalog-cart__item:hover .catalog-cart__link {
  color: #ffb033;
  transition: all 0.3s linear;
}
.catalog .catalog-cart__item:hover::after {
  display: none;
  transition: all 0.3s linear;
}
.catalog .catalog-cart__item::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  border-radius: 1.8rem;
  pointer-events: none;
  z-index: 0;
  transition: all 0.3s linear;
}
.catalog .catalog-cart__link {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 5;
  display: inline-flex;
  align-items: flex-end;
  margin-top: auto;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-size: 2.2rem;
  color: #000;
  transition: all 0.3s linear;
}
@media screen and (max-width: 500px) {
  .catalog .catalog-cart__link {
    font-size: 1.8rem;
  }
}

.about {
  width: 100%;
  height: auto;
  margin-bottom: 17.4rem;
}
@media screen and (max-width: 1280px) {
  .about {
    margin-bottom: 10rem;
  }
}
.about__title {
  margin-bottom: 6.2rem;
  position: relative;
  z-index: 30;
}
.about__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.about__box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.about__desc {
  max-width: 74rem;
  width: 100%;
  display: inline-flex;
  margin-right: 5.6rem;
}
@media screen and (max-width: 1280px) {
  .about__desc {
    order: 3;
    display: block;
    max-width: 100%;
    margin-bottom: 2rem;
    margin-right: 0;
  }
}
.about__desc-text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.375;
  color: #3f3f3f;
  font-family: "Gilroy", sans-serif;
}
.about__desc-text_red {
  display: inline-block;
  font-weight: 500;
  color: #e31e24;
}
.about__demo {
  display: inline-flex;
  max-width: 59rem;
  width: 100%;
  height: 33.7rem;
  position: relative;
  margin-top: -99px;
  margin-bottom: 77px;
}
@media screen and (max-width: 1280px) {
  .about__demo {
    margin: -100px auto 25px;
    order: 1;
  }
}
@media screen and (max-width: 767px) {
  .about__demo {
    margin-top: -70px;
  }
}
@media screen and (max-width: 500px) {
  .about__demo {
    margin-top: -85px;
  }
}
.about__demo::after {
  position: absolute;
  content: "";
  width: 200px;
  height: 53px;
  right: -20px;
  top: -25px;
  display: block;
  background: url("../../images/catalog/rect.svg") no-repeat center/cover;
}
@media screen and (max-width: 1440px) {
  .about__demo::after {
    content: none;
  }
}
.about__demo-video {
  width: 100%;
  height: 100%;
  border: 0.1px solid rgba(218, 223, 228, 0.5);
  border-radius: 13rem 0;
  overflow: hidden;
  background-color: #f3f7f9;
}
.about__demo img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
.about__btn {
  top: 21rem;
  left: 50%;
  position: absolute;
}
@media screen and (max-width: 1280px) {
  .about__btn {
    display: flex;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    order: 4;
  }
}
.about__cart {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 1280px) {
  .about__cart {
    order: 2;
    margin-bottom: 2rem;
  }
}
.about__cart-list {
  display: flex;
  column-gap: 2.7rem;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .about__cart-list {
    column-gap: 1rem;
    row-gap: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .about__cart-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
.about__cart-item {
  width: 25%;
  border-radius: 20px;
  padding-bottom: 2.8rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .about__cart-item {
    width: 100%;
    height: 125px !important;
  }
}
@media screen and (max-width: 500px) {
  .about__cart-item {
    padding-bottom: 0.4rem;
  }
}
.about__cart-text {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 1;
  color: #000;
}
@media screen and (max-width: 500px) {
  .about__cart-text {
    font-size: 18px;
    line-height: 0.8;
  }
}

.consultation {
  width: 100%;
  margin-bottom: 23.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.consultation__container {
  margin: 3.3rem 0 3.3rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 5;
}
.consultation__box {
  position: relative;
  max-width: 126rem;
  width: 100%;
  border-radius: 3rem;
  padding: 0 1.3rem 1.5rem 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
@media screen and (max-width: 767px) {
  .consultation__box {
    height: 58.4rem !important;
    padding-top: 17.8rem;
  }
}
.consultation__box::before {
  position: absolute;
  content: "";
  display: block;
  max-width: 568px;
  width: 100%;
  height: 38px;
  top: -19px;
  right: 103px;
  clip-path: polygon(0% 0%, 94.5% 0%, 100% 100%, 5.5% 100%);
  background-color: rgba(248, 67, 56, 0.76);
}
@media screen and (max-width: 767px) {
  .consultation__box::before {
    max-width: 368px;
  }
}
@media screen and (max-width: 500px) {
  .consultation__box::before {
    max-width: 144px;
    clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 20% 100%);
    right: 67px;
    top: -15px;
  }
}
.consultation__box::after {
  position: absolute;
  content: "";
  display: block;
  max-width: 521px;
  width: 100%;
  height: 67px;
  top: -33.5px;
  right: -60px;
  clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 10% 100%);
  background-color: rgba(255, 185, 0, 0.66);
}
@media screen and (max-width: 1366px) {
  .consultation__box::after {
    right: -10px;
    max-width: 421px;
  }
}
@media screen and (max-width: 1280px) {
  .consultation__box::after {
    right: 0;
    max-width: 421px;
  }
}
@media screen and (max-width: 767px) {
  .consultation__box::after {
    max-width: 321px;
  }
}
@media screen and (max-width: 500px) {
  .consultation__box::after {
    max-width: 138px;
    height: 38px;
    right: 12px;
    top: 0;
    clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 20% 100%);
  }
}
.consultation__content {
  padding: 3.7rem 1rem 4.1rem 3.4rem;
  position: relative;
  z-index: 100;
  max-width: 70rem;
  width: 100%;
  border-radius: 3.6rem;
  backdrop-filter: blur(8px);
  background: rgba(27, 31, 34, 0.5);
}
.consultation__content::after {
  pointer-events: none;
  position: absolute;
  content: "";
  width: 487px;
  height: 70px;
  display: block;
  left: 0;
  transform: translateX(calc(-100% - 35px));
  bottom: 0;
  background: url("../../images/consultation/rezamet.svg") no-repeat center/cover;
}
.consultation__title {
  font-weight: 700;
  line-height: 1;
  font-size: 6rem;
  color: #fff;
  margin-bottom: 2.5rem;
}
.consultation__title span {
  font-size: 7.5rem;
  color: #ffb033;
}
.consultation__desc {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.22222;
  color: #fff;
  font-family: "Gilroy", sans-serif;
  margin-bottom: 2.8rem;
}

/*# sourceMappingURL=style.css.map */
