@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeue/BebasNeueBold.eot") format("eot"), url("../fonts/BebasNeue/BebasNeueBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeue/BebasNeueRegular.eot") format("eot"), url("../fonts/BebasNeue/BebasNeueRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/gilroy/Gilroy-Regular.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Medium.woff") format("woff"), url("../fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/gilroy/Gilroy-Light.woff") format("woff"), url("../fonts/gilroy/Gilroy-Light.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 0.5208333333vw;
  min-height: 100vh;
}
@media screen and (max-width: 1440px) {
  html {
    font-size: 0.6944444444vw;
  }
}
@media screen and (max-width: 1280px) {
  html {
    font-size: 0.78125vw;
  }
}
@media screen and (max-width: 999px) {
  html {
    font-size: 1.001001001vw;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 2vw;
  }
}
@media screen and (max-width: 375px) {
  html {
    font-size: 2.6666666667vw;
  }
}

body {
  min-width: 320px;
  font-weight: 400;
  background-color: #ffffff;
  min-height: 100vh;
  font-family: "Bebas Neue", sans-serif, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  padding: 0;
  margin: 0;
}

p,
span {
  display: inline-flex;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 143.8rem;
  width: 100%;
  padding: 0 1.4rem;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title,
h2 {
  font-weight: 700;
  font-size: 4.5rem;
  color: #222;
  position: relative;
}

.title::after {
  position: absolute;
  content: "";
  width: 6.8rem;
  height: 1.8rem;
  bottom: -20px;
  left: -11px;
  background: url("../../images/catalog/rect.svg") no-repeat;
}

.header {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 0.8rem 0 2.7rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  z-index: 50;
}
@media screen and (max-width: 999px) {
  .header {
    padding-bottom: 1rem;
  }
}
.header::before {
  pointer-events: none;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  max-width: 177rem;
  width: 100%;
  clip-path: polygon(0% 0%, 92% 0.2%, 100% 100%, 0% 100%);
  background-color: rgba(15, 20, 28, 0.5);
  backdrop-filter: blur(4px);
  z-index: 0;
}
@media screen and (max-width: 1440px) {
  .header::before {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
.header__container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__top {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 2.8rem;
  position: relative;
}
@media screen and (max-width: 999px) {
  .header__top {
    margin-bottom: 0;
  }
}
.header__top::before {
  pointer-events: none;
  position: absolute;
  content: "";
  top: -12px;
  bottom: 0;
  right: -8rem;
  display: block;
  max-width: 700px;
  width: 100%;
  height: 44px;
  clip-path: polygon(0 0, 94% 0, 100% 100%, 6% 100%);
  background-color: rgba(248, 67, 56, 0.76);
  z-index: 0;
}
@media screen and (max-width: 1600px) {
  .header__top::before {
    height: 40px;
  }
}
@media screen and (max-width: 1440px) {
  .header__top::before {
    top: -8px;
    height: 40px;
  }
}
@media screen and (max-width: 999px) {
  .header__top::before {
    height: 38px;
    max-width: 150px;
    right: -40px;
    clip-path: polygon(0 0, 94% 0, 100% 100%, 18% 100%);
    height: 30px;
  }
}
.header__top::after {
  pointer-events: none;
  position: absolute;
  content: "";
  top: -1rem;
  bottom: 0;
  right: -420px;
  display: block;
  max-width: 700px;
  width: 100%;
  height: 75px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 12% 100%);
  background-color: rgba(255, 185, 0, 0.66);
  z-index: 5;
}
@media screen and (max-width: 999px) {
  .header__top::after {
    max-width: 100px;
    right: -30px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%);
    height: 45px;
  }
}
@media screen and (max-width: 999px) {
  .header__logo {
    margin: 0 auto;
  }
}
@media screen and (max-width: 500px) {
  .header__logo {
    max-width: 15.2rem;
    width: 100%;
    height: 4.1rem;
    align-self: center;
  }
}
.header__logo-link {
  display: inline-flex;
  width: 100%;
  height: 100%;
}
.header__logo .logo__img {
  display: block;
  width: 15.2rem !important;
  height: 4.1rem !important;
  object-fit: cover;
}
.header__sosial {
  margin-left: auto;
  margin-right: 11.2rem;
}
@media screen and (max-width: 999px) {
  .header__sosial {
    display: none;
  }
}
.header__contacts {
  text-align: right;
  position: relative;
  z-index: 10;
}
.header__donw {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 999px) {
  .header__donw {
    display: none;
  }
}

.social__list {
  display: flex;
  column-gap: 1.8rem;
  align-items: center;
  position: relative;
}
.social__link {
  transition: all 0.3s linear;
}
.social__link:hover svg path {
  fill-opacity: 1;
  transition: all 0.3s linear;
}
.social__list_burger {
  column-gap: 2.2rem;
}

.contacts__number-link {
  display: inline-flex;
  align-items: center;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}
@media screen and (max-width: 999px) {
  .contacts__number-link span {
    display: none;
  }
}
.contacts__number-link svg {
  margin-right: 1rem;
}
@media screen and (max-width: 999px) {
  .contacts__number-link svg {
    margin-right: 7rem;
  }
}
.contacts__callback-link {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: #f6f6f6;
}
@media screen and (max-width: 999px) {
  .contacts__callback-link {
    display: none;
  }
}
.contacts__number-link_burger {
  color: #fff;
}
.contacts__number-link_burger .burger {
  display: inline-flex;
}
.contacts__number-link_burger .burger-img {
  margin-right: 1rem;
}
.contacts__callback-link_burger {
  color: #ef9325;
  max-width: 23rem;
  padding-left: 10rem;
  display: inline-flex;
}

.navigation {
  width: 100%;
}
.navigation__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation__link {
  font-weight: 500;
  font-size: 1.8rem;
  color: #fff;
  font-family: "Gilroy", sans-serif;
  transition: all 0.3s linear;
}
.navigation__link:hover {
  transition: all 0.3s linear;
  color: #ffb033;
}
.navigation__list_burger {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
  align-items: flex-start;
}

.burger-menu {
  display: flex;
  position: fixed;
  min-height: 100vh;
  flex-direction: column;
  padding: 3.3rem 3.6rem;
  backdrop-filter: blur(4px);
  background: rgba(15, 20, 28, 0.95);
  width: 100%;
  left: -100%;
  transition: all 0.3s linear;
  z-index: 100;
}
.burger-menu__open {
  transition: all 0.3s linear;
  left: 0;
}
.burger-menu__btn-open {
  display: none;
  padding: 0 0.4rem;
  align-self: center;
}
@media screen and (max-width: 999px) {
  .burger-menu__btn-open {
    display: inline-flex;
  }
}
.burger-menu__btn-close {
  position: absolute;
  top: 1.7rem;
  right: 2.2rem;
}
.burger-menu__nav {
  width: 100%;
  margin-bottom: 6.2rem;
}
.burger-menu__navigation {
  width: 100%;
}
.burger-menu__contacts {
  width: 100%;
}
.burger-menu__sosial {
  margin-bottom: 2.5rem;
}

.hero-slider {
  position: relative;
  width: 100%;
  margin-top: -13rem;
  position: relative;
  margin-bottom: 7.7rem;
}
.hero-slider__container {
  position: relative;
  margin-bottom: 7rem;
  max-width: 66rem;
  width: 100%;
  text-align: left;
  min-height: 100%;
}
.hero-slider__title {
  font-weight: 700;
  font-size: 7rem;
  line-height: 0.75;
  color: #fff;
  margin-bottom: 1rem;
  text-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.9);
}
.hero-slider__title b {
  font-size: 8rem;
  color: #ffb033;
}
.hero-slider__desc {
  width: 100%;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.22222;
  color: #fff;
  text-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.9);
  margin-bottom: 3rem;
}

.hero__pagination-box {
  position: relative;
  z-index: 200;
  max-width: 1560px;
  padding-right: 10px;
  padding-left: 10px;
  height: 25px;
  margin: 0 auto;
  top: -70px;
  right: 0;
  z-index: 5;
}
@media screen and (max-width: 500px) {
  .hero__pagination-box {
    top: -45px;
  }
}
.hero__pagination-box .swiper-pagination-horizontal {
  width: 370px;
  left: auto;
  right: 0;
}
@media screen and (max-width: 500px) {
  .hero__pagination-box .swiper-pagination-horizontal {
    width: 290px;
    right: auto;
  }
}
.hero__pagination-box .hero__swiper-pagination {
  width: 370px;
  height: var(--swiper-pagination-progressbar-size, 4px);
  right: 44px;
  top: 9px;
  border-radius: 10px;
  background: rgba(229, 238, 245, 0.5);
}
@media screen and (max-width: 500px) {
  .hero__pagination-box .hero__swiper-pagination {
    width: 290px;
  }
}
.hero__pagination-box .hero__swiper-pagination .swiper-pagination-progressbar-fill {
  border-radius: 10px;
  background: #df2c46;
}
.hero__pagination-box .hero__swiper-pagination::after {
  position: absolute;
  content: "06";
  color: #df2c46;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  top: -10px;
  right: -33px;
}
.hero__pagination-box .hero__swiper-pagination::before {
  position: absolute;
  content: "01";
  color: #df2c46;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  top: -10px;
  left: -33px;
}

.swiper-slide {
  position: relative;
  display: flex;
  align-items: flex-end;
  background: linear-gradient(180deg, #0f141c 0%, rgba(0, 0, 0, 0) 100%);
}
.swiper-slide::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 4.5rem;
  padding: 0 5.5rem 0 3.3rem;
  line-height: 4.5rem;
  font-weight: 400;
  font-size: 1.6rem;
  color: #fff;
  font-family: "Gilroy", sans-serif;
  border-radius: 2.8rem;
  background: linear-gradient(180deg, #e31e24 0%, #7d1114 100%);
  transition: all 0.3s linear;
}
.btn::after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
  background: url(../../images/hero/arr_right.svg) no-repeat center;
  width: 1.8rem;
  height: 1.8rem;
  pointer-events: none;
}
.btn:hover {
  background: linear-gradient(180deg, #e31e24 100%, #7d1114 0%);
  transition: all 0.3s linear;
}

.catalog {
  width: 100%;
}
.catalog__container {
  display: flex;
  flex-direction: column;
}
.catalog__title {
  position: relative;
  margin-bottom: 0;
  line-height: 0.8;
}
.catalog__btn {
  margin-left: auto;
  margin-bottom: 3.6rem;
  text-align: right;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: #596775;
  background: rgba(89, 103, 117, 0.2);
  border-radius: 1.8rem;
  padding: 0.3rem 3.7rem 0 3.3rem;
  transition: all 0.3s linear;
}
.catalog__btn::after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  transform: translateY(-50%);
  right: 1.5rem;
  background: url(../../images/catalog/arr_right_grey.svg) no-repeat center;
  width: 1rem;
  height: 0.8rem;
}
.catalog__btn:hover {
  background: rgba(89, 103, 117, 0.3);
  transition: all 0.3s linear;
}/*# sourceMappingURL=style.css.map */