.contacts {
  &__number {
    &-link {
      display: inline-flex;
      align-items: center;
      color: #000000;
      font-size: 30px;
      font-weight: 700;
      line-height: 30px;
      text-align: left;

      span {
        @media #{$tablet} {
          display: none;
        }
      }

      svg {
        margin-right: 1rem;

        @media #{$tablet} {
          margin-right: 7rem;
        }
      }
    }
  }

  &__number-footer &__number-link-footer > span {
    @media #{$tablet} {
      display: inline-flex;
    }
  }

  &__number-footer &__number-link-footer > svg {
    @media #{$tablet} {
      margin-right: 1rem;
    }
  }

  &__callback {
    &-link {
      font-family: $font-family-title;
      font-weight: 700;
      font-size: 1.6rem;
      color: #f6f6f6;

      @media #{$tablet} {
        display: none;
      }
    }
  }

  &__callback-link-footer {
    @media #{$tablet} {
      display: inline-flex;
    }
  }

  &__number-link_burger {
    color: #fff;

    .burger {
      display: inline-flex;
    }

    .burger-img {
      margin-right: 1rem;
    }
  }

  &__callback-link_burger {
    color: #ef9325;
    max-width: 23rem;
    padding-left: 10rem;
    display: inline-flex;
  }
}
