.contacts {
  &__number {
    &-link {
      display: inline-flex;
      align-items: center;
      color: #000000;
      font-size: 30px;
      font-weight: 700;
      line-height: 30px;
      text-align: left;

      span {
        @media #{$tablet} {
          display: none;
        }
      }

      svg {
        margin-right: 7rem;
      }
    }
  }

  &__callback {
    &-link {
      font-family: $font-family-title;
      font-weight: 700;
      font-size: 1.6rem;
      color: #f6f6f6;

      @media #{$tablet} {
        display: none;
      }
    }
  }
}
