.hero-slider {
  position: relative;
  width: 100%;
  //margin-top: -13rem;
  position: relative;
  margin-bottom: 7.7rem;

  @media #{$phone} {
    margin-bottom: 3.4rem;
  }

  &__container {
    position: relative;
    margin-bottom: 7rem;
    max-width: 66rem;
    width: 100%;
    text-align: left;
    min-height: 100%;
  }

  &__title {
    font-weight: 700;
    font-size: 7rem;
    line-height: 0.75;
    color: #fff;
    margin-bottom: 1rem;
    text-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.9);

    @media #{$phone} {
      font-size: 4rem;
      line-height: 1;
    }

    b {
      font-size: 8rem;
      color: #ffb033;

      @media #{$phone} {
        font-size: 4rem;
        line-height: 1;
      }
    }
  }

  &__desc {
    width: 100%;
    font-family: $font-family-title;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.22222;
    color: #fff;
    text-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.9);
    margin-bottom: 3rem;

    @media #{$phone} {
      font-size: 14px;
      line-height: 1.14286;
      text-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.9);
    }
  }
}

.hero__pagination-box {
  position: relative;
  z-index: 200;
  max-width: 1560px;
  padding-right: 10px;
  padding-left: 10px;
  height: 25px;
  margin: 0 auto;
  top: -70px;
  right: 0;
  z-index: 5;

  @media #{$tablet-mini} {
    top: -25px;
  }

  @media #{$phone} {
    top: -45px;
    max-width: 348px;
    margin-right: 0;
    height: 21px;
  }

  .swiper-pagination-horizontal {
    width: 370px;
    left: auto;
    right: 0;

    @media #{$phone} {
      width: 290px;
      right: auto;
    }
  }

  .hero__swiper-pagination {
    width: 370px;
    height: var(--swiper-pagination-progressbar-size, 4px);
    right: 44px;
    top: 9px;
    border-radius: 10px;
    background: rgba(229, 238, 245, 0.5);

    @media #{$phone} {
      width: 290px;
    }

    .swiper-pagination-progressbar-fill {
      border-radius: 10px;
      background: #df2c46;
    }
  }

  .hero__swiper-pagination::after {
    position: absolute;
    content: '06';
    color: #df2c46;
    font-family: $font-family-title;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: -10px;
    right: -33px;
  }

  .hero__swiper-pagination::before {
    position: absolute;
    content: '01';
    color: #df2c46;
    font-family: $font-family-title;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: -10px;
    left: -33px;
  }
}

.swiper-slide {
  position: relative;
  display: flex;
  align-items: flex-end;
  background: linear-gradient(180deg, #0f141c 0%, rgba(0, 0, 0, 0) 100%);

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    // background: linear-gradient(180deg, #0f141c 0%, rgba(0, 0, 0, 0) 100%);
  }
}
