.social {
  &__list {
    display: flex;
    column-gap: 1.8rem;
    align-items: center;
    position: relative;
  }

  &__link {
    transition: all 0.3s linear;
  }

  &__link:hover svg path {
    fill-opacity: 1;
    transition: all 0.3s linear;
  }

  &__list_burger {
    column-gap: 2.2rem;
  }
}
