.social {
  &__list {
    display: flex;
    column-gap: 1.8rem;
    align-items: center;
    position: relative;
  }

  &__link {
    transition: all 0.3s linear;

    &_grey {
    }
  }

  &__link:hover svg path {
    fill-opacity: 1;
    transition: all 0.3s linear;
  }

  &__list_burger {
    column-gap: 2.2rem;
  }

  // &__list_grey {
  // }

  // &__item_grey {
  // }

  // &__link_grey {
  // }

  &__svg_gray path {
    fill: #596775;

    :hover {
      opacity: 1;
    }
  }
}
