.consultation {
  width: 100%;
  margin-bottom: 23.3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    margin: 3.3rem 0 3.3rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 5;
  }

  &__box {
    position: relative;
    max-width: 126rem;
    width: 100%;
    border-radius: 3rem;
    padding: 0 1.3rem 1.5rem 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    //background: linear-gradient(180deg, rgba(15, 20, 28, 0.9) 0%, rgba(15, 20, 28, 0.9) 100%);

    @media #{$tablet-mini} {
      height: 58.4rem !important;
      padding-top: 17.8rem;
    }

    &::before {
      position: absolute;
      content: "";
      display: block;
      max-width: 568px;
      width: 100%;
      height: 38px;
      top: -19px;
      right: 103px;
      clip-path: polygon(0.00% 0.00%, 94.5% 0.00%, 100.00% 100.00%, 5.5% 100.00%);
      background-color: rgba(248, 67, 56, 0.76);

      @media #{$tablet-mini} {
        max-width: 368px;
      }

      @media #{$phone} {
        max-width: 144px;
        clip-path: polygon(0.00% 0.00%, 80.0% 0.00%, 100.00% 100.00%, 20.0% 100.00%);
        right: 67px;
        top: -15px;
      }
    }

    &::after {
      position: absolute;
      content: "";
      display: block;
      max-width: 521px;
      width: 100%;
      height: 67px;
      top: -33.5px;
      right: -60px;
      clip-path: polygon(0.00% 0.00%, 90.0% 0.00%, 100.00% 100.00%, 10.0% 100.00%);
      background-color: rgba(255, 185, 0, 0.66);

      @media #{$notebook} {
        right: -10px;
        max-width: 421px;
      }

      @media #{$notebook_s} {
        right: 0;
        max-width: 421px;
      }

      @media #{$tablet-mini} {
        max-width: 321px;
      }

      @media #{$phone} {
        max-width: 138px;
        height: 38px;
        right: 12px;
        top: 0;
        clip-path: polygon(0.00% 0.00%, 80.0% 0.00%, 100.00% 100.00%, 20.0% 100.00%);
      }
    }
  }

  &__content {
    padding: 3.7rem 1rem 4.1rem 3.4rem;
    position: relative;
    z-index: 100;
    max-width: 70rem;
    width: 100%;
    border-radius: 3.6rem;
    backdrop-filter: blur(8px);
    background: rgba(27, 31, 34, 0.5);
    //overflow: hidden;

    &::after {
      pointer-events: none;
      position: absolute;
      content: "";
      width: 487px;
      height: 70px;
      display: block;
      left: 0;
      transform: translateX(calc(-100% - 35px));
      bottom: 0;
      background: url("../../images/consultation/rezamet.svg") no-repeat center/cover;
    }
  }

  &__title {
    font-weight: 700;
    line-height: 1;
    font-size: 6rem;
    color: #fff;
    margin-bottom: 2.5rem;

    span {
      font-size: 7.5rem;
      color: #ffb033;
    }
  }

  &__desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.22222;
    color: #fff;
    font-family: $font-family-title;
    margin-bottom: 2.8rem;
  }
}